<html lang='fa-IR' class='theme-light default'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="چت روم آنلاین پاشرز همراه با استیکر و بخش پیوی با ارائه ی سرعت بسیار بالا و البته امنیت تضمینی">
    <meta name="keywords" content="چت روم,پاشرز,Pushers">
    <meta name="author" content="mamin">
    <link href="/css/layout.css" rel="stylesheet" />
    <link href="/css/font.css" rel="stylesheet" />
    <link href="/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://maminshop.ir/Home/Index" />
    @RenderSection("robots", false)
    <title>@ViewData["Title"]</title>
    @RenderSection("styles", false)
</head>

@RenderBody()
</html>

<script src="~/js/jquery-3.4.1.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
@RenderSection("scripts", false)